#navigation-container:hover #admin-cion{
  flex-direction: row;
}
#navigation-container:hover #text-admin-order{
  order: 1;
}

/* all the brow class i don't need them */

/* #navigation-container {
  width: 5%;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
} */

/* #navigation-container:hover {
  width: 10%;
} */

/* .sidebar {
  transition: width 0.3s ease-in-out;
}*/

/* .main-content {
  transition: margin-left 0.3s ease-in-out;
} 
 */
/* .nav-item-name {
  display: none;
  transition: opacity 0.9s ease-in-out;
}

#navigation-container:hover .nav-item-name {
  display: block; 
  opacity: 1;
} */
