@import "tailwindcss";


html,
body,
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Remove spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* body {
  background: #0f0f10;
  color: #666;
}

input,
textarea {
  color: #000;
} */

.raed{
  background-image: url("../public/img-1739355434964.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  width: 100%;
}
div h1{
  /* color: aliceblue; */
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}


